@import '../_icons.scss';
@import '../_colors.scss';

$display-date-font-size: 22px;
$display-date-width: 250px;

.edit-page {
    padding: 10px 35px;
    padding-bottom: 0;
    height: 99%;
    background: #fff;
    width: 100%;
    box-shadow: #222 0px 0px 15px -5px;
}

.entry-date {
    padding-top: 50px;
    padding-bottom: 30px;
    position: relative;

    & > div {
        display: inline-block;
        position: absolute;
        left: 0;
        height: $display-date-font-size;
        width: $display-date-width;
        top: 52px;
    }
}

.visible-date {
	  width: $display-date-width;
    padding-right: 10px;
	  height: 30px;
	  font-weight: bold;
	  margin-top: 20px;
    border: none;
    font-size: $display-date-font-size;
    outline: none;
    font-family: 'Roboto';
    vertical-align: text-bottom;
    cursor: pointer;
}

.edit-date {
    background: transparent;

    height: 18px;
    outline: none;
    padding: 0 !important;
    border: none !important;
    box-shadow: none !important;
    cursor: pointer;
    color: transparent;
    vertical-align: super;
    position: absolute;
    width: $display-date-width - 40px;
    left: 0;

    &:hover {
        @include icon-pencil($color-primary, lighten($color-primary, 20));

        background-position-x: $display-date-width - 60px !important;
    }
}

.edit-entry {
	  width: 100%;
    height: 80vh;
	  margin-top: 10px;
    outline: none;
    overflow: auto;
    white-space: pre-line;
}
