{
    "extends": "airbnb",
    "prefer-const": 1,
    "rules": {
        "curly": 0,
        "indent": [
            2,
            4
        ],
        "id-length": 0,
        "jsx-quotes": [2, "prefer-single"],
        "new-cap": 0
    }
}
