$fonts-path: '../fonts/';

@import '../fonts/fonts.scss';

html,
body,
div,
span,
h1,
h2,
h3,
ul,
li,
pre,
p {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

.app {
    position: relative;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAANUlEQVQYV2NcvHixJAMRgJEqCmNjY5/DDMJrItEKkZ1OHTcSNBHZbTA2VquRFcJMxelGdMUAJX0sH8nvRc0AAAAASUVORK5CYII=");
}

.content {
    margin: 0px auto;
    width: 80%;
    max-width: 980px;
    padding-top: 40px;
    height: 120vh;
}

.header {
	color: red;
}
