$color-primary: #9d3434;
$color-secondary: #0d9de7;

$color-activity-bar-bg: #e7e6e6;
$color-activity-bar-item: $color-primary;
$color-activity-bar-item-hover: lighten($color-primary, 10);
$color-activity-bar-item-splitter: #e7e6e6;
$color-activity-bar-shadow: #222;
