$color-main-sidebar-border: #000;

$color-sidebar-icon-bg: #000;
$color-sidebar-icon-bg-hover: #888;

$color-edit-entry-error: #000;
$color-edit-entry-error-border: #000;

$color-tag-bg: #000;
$color-tag-body: #fff;
$color-tag-close-button: #fff;

$color-browse-entries-tags: #888;
